.row {
  display: flex;
  padding: 0 4px;
  flex-flow: row wrap;
  align-items: center;
  align-content: stretch;
}

.column {
  flex: 25%;
  max-width: 100%;
}


@media (max-width: 800px) {
  .column {
      flex: 50%;
      max-width: 50%;
  }
}

@media (max-width: 600px) {
  .column {
      flex: 100%;
      max-width: 100%;
  }
}